<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Fact</title>
</head>
<body>
  <main>
    <a href="/">&gt; Back</a>
    <p><%= userData.fact%></p>
    <br>
    <form action="/cats/fact">
      <button>Get another cat fact</button>
    </form>
  
  </main>
</body>
</html>